#main_header {
   
    border-top: 11px solid #3c322c;
    height: 35px;
    
  }

button{
  border-style: ridge;
  border-width: 3px;
  border-color: black;
}
  #home_title {
    margin-left: 19px;
    font-size:      40px;
    font-weight:    bold;
  }
  
 html{
    
    height: 100%;
  }

body{
  background: url(darker.jpg) repeat;
  margin: 0 auto;
  height: 100%;
}

 #global_body{

    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
 }

 

  .textdoc {
    text-align: left;
    margin: 1px;
  }


  .left_section {
    width: 50%;
    background: black;
    float: left;
    border: 2px solid #362d28;
  }



  .right_menu{
    min-height: 10px;
  }

  .image_content{
    overflow: Auto;
    max-height: 850px;
  }

  .image{
    margin-left:4%;
    margin-top: 2%;
  }

  .right_section {
    border: 2px solid #362d28;
    background: black;
  }
  
  
  .text_content {
    overflow: Auto;
    max-height: 850px;
    margin: 20px;
    padding: 1%;
    font-size: 19px;
    background-color: antiquewhite;
  }

 
  h1 {
    font-size: 30px;
    
  }

  h3{
    font-size: 25px;
  }

  .hi_italic{
      font-style: italic;
  }

  

  .title_quote{
    display: none ;
  }



 .menufiltro{
   display: none;
 }



 .menulist{
   display: block;
 }

 #menu_central{
  text-align: center;
  margin-top: 2%;
}

#menu_central button {
  background: #E3C89C;
  color: #4e443c;
  font-size: 15px;
  }

#due {
	
	display: none;
}
#tre {

	display: none;
}
#quattro {

	display: none;
}

#cinque {
 
	display: none;
}

.manuscript{
  display: none;
  
}

#Manuscript_content{
  background-color: #fff6d8;
  color: black;
  margin: 2%;
  border-radius: 2%;
  border: 1px solid #362d28;
}

.regesto{
  display: none;
  text-align: center;
  margin: 1px;
}

#Liste{
  width: 47.3%;
  color:white;
  background-color: #3D3D3D;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  margin: 1px;
  overflow: auto;
  max-height: 500px;
  display: block;
  padding:1%;
}



.Elementitesto{
  float: right;
  width:50%;
  color:white; 
  background-color: #cd813cbf;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
}

.Elementitesto li{
  margin: 1%;
  display: inline-block;
  position: relative;
}

.Elementitesto button{
  width:100%;
}

#Listbibl{
  float: right;
  width: 49.7%;
  background: #faebd782;
  height:100%;
  display: block;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  font-size: 13px;
}

#menudoc{
    background-color: black;
    margin-bottom: 0;
    border: 2px solid black;
    
}

#menudoc li {
  display: inline-block;
  position: relative;
}

#menudoc li button {
  display: block;
  width: 4em;
  color: #000;
  text-decoration: none;
  font-size: 24px;
  background: #f5ead4;
  margin: 1px;
  min-width: 80px;
  border-radius: 2px;
}


.logo_dante{
position: absolute;
right: 2%;
top: 1.5%;
}

#menul1 ul, #menul2 ul{
  text-align: left;
}

#book{
  width: 46.5%;
  background-color: #faebd782;
  padding:1%;
  margin: 1px;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
}

table {
border-collapse:collapse;
background-color: #faebd782;
}

td, tr {
border:1px solid #ddd;
padding:8px;
}

footer{
   
    color: white;
    background: #000;
    width: 100%;
    height: 80px;
    text-align: center;
  
}

#titlebibl{
  width:100%;
  
}

#titlebibl h2{
  text-align: center;
}